<div class="container">
  <div class="nav">
    <div>
      <poc-button label="Load app 1" (onClick)="loadApp('app-one')"></poc-button>
      <poc-button label="Load app 2" (onClick)="loadApp('app-two')"></poc-button>
      <poc-button label="Load app 3" (onClick)="loadApp('app-three')"></poc-button>
    </div>
    <div>
      <poc-button label="Sign in" *ngIf="!currentUser" (onClick)="signIn()"></poc-button>
      <poc-button label="Sign out" *ngIf="currentUser" (onClick)="signOut()"></poc-button>
    </div>
  </div>


  <router-outlet></router-outlet>
</div>